<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type"
        content="text/html; charset=windows-1252" />
  <link rel="stylesheet"
        href="/css/index.css" />
  <link rel="icon"
        href="/img/cutter.png" />
</head>

<body>
  {{> header}}
  <section>
    {{{body}}}
  </section>
  {{> footer}}
</body>

<script src="/js/index.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/ytplayer.js"></script>
<script src="/js/player.js"></script>
<script src="/js/download2.js"></script>

</html>