<div class="form_videoselect">
    <form id="f_videoSelect">
        <input class="textinput"
               id="f_videoUrl"
               type="text"
               placeholder="https://www.youtube.com/watch?v=XNo8xB-Xwpk"
               value=""
               style="margin-top: 12px; margin-bottom: 12px;" /><br />
        <button type="submit"
                class="button-offset">CLIP</button>
    </form>
</div>